@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-300: #cbd5e1;
  --color-slate-500: #64748b;
  --color-slate-600: #475569;
  --color-slate-700: #334155;
  --color-slate-800: #1e293b;
  --color-slate-900: #0f172a;
  
  --color-amber-300: #fcd34d;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;

  --color-emerald-400: #34d399;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-slate-900);
  color: var(--color-slate-50);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
